<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <section>
      <form action="/loginData" method="POST">
        <label for="userID">User:</label>
        <input type="text" id="userID" name="user" value="<%= loginData.user %>">
        <label for="pw">Password:</label>
        <input type="password" name="password" id="pw" value="<%= loginData.password %>">
        <button type="submit">Send</button>
      </form>
    </section>
  </body>
</html>